:root {
    --border: 1px solid rgba(255, 255, 255, 0.25);
}

html,
body {
    background-color: rgb(12, 12, 12);
    color: white;
}

.avatar {
    margin-right: 1em;
    height: 48px;
    border-radius: 50%;
}

table button {
    margin-right: 0.5em;
}

table button:last-child {
    margin-right: 0;
}

.modal-content {
    background-color: rgb(12, 12, 12);
    border: var(--border);
}

.modal-header {
    border-bottom: var(--border);
}
.modal-footer {
    border-top: var(--border);
}

.modal-content input {
    background-color: rgba(255, 255, 255, 0.8);
}
